.leak {
    margin : 0px;
    background-color : #ffda53;
}

.leak .content {
    padding : 4rem;
}

.leak .content p:nth-child(1) {
    font-size : 3rem;
}

.leak .content p:nth-child(2) {
    font-size : 2.5rem;
}

.leak .content p:nth-child(3) {
    font-size : 2rem;
}