.loginForm {
    margin : auto;
    width  : 90%;
}

.loginForm .logo {
    margin      : 5rem auto 5rem auto;
    width       : fit-content;
    font-size   : 3rem;
    font-family : sans-serif;
}

.loginForm .entry input {
    border : 4px lightgrey solid;
}

.loginForm .entry .remember {
    float : left;
}

.loginForm .entry .touch {
    float : right;
}

.loginForm .entry.forgot {
    margin : auto;
    width : fit-content;
}

.loginForm .entry.create_account {
    margin : auto;
    width : fit-content;
}

.loginForm .entry.leak {
    margin : auto;
    width : fit-content;
}