html {
    font-size : 28px;
}

body {
    margin : 0px;
}

.heading {
    margin : 1rem auto 1rem auto;
    width  : fit-content;
}

.entry {
    margin   : 3rem auto 0rem auto;
    display  : block;
    overflow : hidden;/* so it wont collapse with floated children */
}

.entry input, .entry select, .entry.submit a.submit {
    display         : block;
    text-decoration : none;
    width           : 99%;
    font-size       : 2rem;
}

.entry input[type="checkbox"], .entry input[type="radio"] {
    width : inherit;
}

.entry.submit input[type="submit"], .entry.submit a.submit {
    width                 : 100%;
    height                : 5rem;
    line-height           : 5rem;/* for the anchor case */
    color                 : white;
    background-color      : aquamarine;
    text-align            : center;
    border                : none;
    -webkit-appearance    : none;
    -webkit-border-radius : 0;
}

.phone {
    text-decoration: underline;
}

.serviceAddress .address, .serviceAddress .accountNumber {
    display     : block;
    overflow    : hidden;
    margin      : auto;
    width       : fit-content;
    font-size   : 1.5rem;
}

.serviceAddress .address {
    font-weight : bold;
}

.customerInfo {    
    padding-bottom : 3rem;
    border-bottom  : 4px lightgrey solid;
}

.account {
    padding : 1rem;
}

.account .tiles {
    display               : grid;
    grid-template-columns : repeat(2, 1fr);
    grid-gap              : 0.5rem;
    grid-auto-rows        : minmax(9rem, auto);
}

.account .tiles > div {
    border              : 4px dotted lightgrey;
    background-position : top 1rem right 50%;
    background-size     : 4rem;
    background-repeat   : no-repeat;
    padding-top         : 5rem;
}

.account .tiles > div > span {
    display : block;
    width   : fit-content;
    margin  : auto;
}

.account .tiles .ssm {
    background-image    : url(../image/meter.png);
}

.account .tiles .usage {
    background-image    : url(../image/usage.png);
}

.account .tiles .billing {
    background-image    : url(../image/billing.png);
}

.account .tiles .settings {
    background-image    : url(../image/settings.png);
}

.account .tiles .outage {
    background-image    : url(../image/outage.png);
}

.account .tiles .notifications {
    background-image    : url(../image/notifications.png);
}