.payBill .formToggle {
    font-size : 1.5rem;
    width     : fit-content;
    margin    : 2rem auto auto auto;
}

.payBill .formToggle label {
    border  : 0.25rem lightblue solid;
    padding : 0.5rem;
    display : table-cell;
}

.payBill .formToggle .left + label {
    border-top-left-radius    : 16px;
    border-bottom-left-radius : 16px;
}

.payBill .formToggle .right + label {
    border-top-right-radius    : 16px;
    border-bottom-right-radius : 16px;
}

.payBill .formToggle input[type="radio"]:checked + label {
    background-color : lightblue;
}

.payBill .formToggle input[type="radio"] {
    display : none;
}