.standardForm, .standardView {
    margin : auto;
    width  : 90%;
}

.standardForm .exposition {
    width      : 85%;
    margin     : auto;
    text-align : center;
}

.standardForm .entry input, .standardForm .entry select {
    border-top    : none;
    border-left   : none;
    border-right  : none;
    border-bottom : 4px lightgrey solid;
    color         : lightgrey;
}

.standardForm .entry input[type="password"] {
    background : url(../image/eyeball.png) right no-repeat;
}

.standardForm .entry input[type="date"] {
    -webkit-appearance: none;
}

.standardForm .entry input::placeholder {
    color : lightgrey;
}

.standardForm .entry select {
    font-size        : 1rem;
    color            : black;
    background-color : transparent;
    text-align-last  : center;
    padding-bottom   : 1rem;
}

.standardForm .entry option {
    font-size : 1rem;
}

.standardForm .selectedAmount {
    font-size : 4rem;
    display : block;
    width  : fit-content;
    margin : auto;
}

.standardHeader {
    width            : 100%;
    background-color : lightgrey;
    height           : 4rem; /* match title line-height */
}

.standardHeader .title {
    display     : block;
    width       : fit-content;
    margin      : auto;
    font-size   : 2rem;
    line-height : 4rem; /* match parent height */
}

.standardView {
    padding-bottom : 3rem;
    border-bottom  : 4px lightgrey solid;
}

.standardView .entry label {
    color : grey;
    float : left;
}

.standardView .entry .text {
    font-weight : bold;
    float       : right;
}

.standardView .amountDue {
    
}

.standardView .amountDue .amount {
    display   : block;
    width     : fit-content;
    margin    : 2rem auto 1rem auto;
    font-size : 3rem;
}

.standardView .amountDue .dueDate {
    display : block;
    width   : fit-content;
    margin  : auto;
    color   : lightgrey;
}