.standardForm {
    margin : auto;
    width  : 90%;
}

.standardForm .exposition {
    width      : 85%;
    margin     : auto;
    text-align : center;
}

.standardForm .entry input[type="text"], .standardForm .entry input[type="password"], .standardForm .entry input[type="date"] {
    border-top   : none;
    border-left  : none;
    border-right : none;
    border-bottom : 4px lightgrey solid;
}

.standardForm .entry input[type="password"] {
    background : url(../image/eyeball.png) right no-repeat;
}


.standardForm .entry input[type="date"] {
    -webkit-appearance: none;
}

.standardHeader {
    width            : 100%;
    background-color : lightgrey;
    height           : 4rem; /* match title line-height */
}

.standardHeader .title {
    display     : block;
    width       : fit-content;
    margin      : auto;
    font-size   : 2rem;
    line-height : 4rem; /* match parent height */
}